<p-table [value]="pessoas"  [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true"
  [lazy]="true" [totalRecords]="totalRegistros"
  (onLazyLoad)="aoMudarPagina($event)"
  #tabela>
  <ng-template pTemplate="header">
    <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Status</th>
        <th class="col-acoes"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.endereco.cidade}}</td>
      <td>{{pessoa.endereco.estado}}</td>
      <td class="status-item"><a  href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top"
        (click)="alternarStatus(pessoa)">{{pessoa.ativo ? 'Ativo' : 'Inativo' }}</a></td>
      <td>
        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="width: 2em; margin-right: 3px;"></a>
        <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" style="width: 2em"
        (click)="confirmarExclusao(pessoa)"></button>
      </td>
    </tr>
 </ng-template>
</p-table>
