<navbar></navbar>
<pessoa-cadastro></pessoa-cadastro>

<!--
  <pessoas-pesquisa></pessoas-pesquisa>
  <lancamento-cadastro></lancamento-cadastro>
  <lancamentos-pesquisa></lancamentos-pesquisa>

-->
<ng2-toasty></ng2-toasty>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim"
      (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não"
      (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
