<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
        name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
        name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <lancamentos-grid [lancamentos]="lancamentos"></lancamentos-grid>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Novo Lançamento"></button>
    </div>
  </div>
</div>

