<div class="container"  style="max-width: 400px; margin: auto">

  <form  #f="ngForm" autocomplete="on">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12">
        <input pInputText type="email" name="usuario" placeholder="E-mail" gModel required #usuario>
      </div>

      <div class="ui-g-12">
        <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
      </div>

      <div class="ui-g-12">
        <button label="Login" type="submit" pButton class="ui-button-info" [disabled]="f.invalid"
         (click)="login(usuario.value, senha.value); senha.value = '';"></button>
      </div>

    </div>

  </form>
</div>
