
<p-table [value]="lancamentos"
  [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true"
  [lazy]="true" [totalRecords]="totalRegistros"
  (onLazyLoad)="aoMudarPagina($event)"
  #tabela>
  <ng-template pTemplate="header">
    <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th class="col-data">Vencimento</th>
        <th class="col-data">Pagamento</th>
        <th class="col-data">Valor</th>
        <th class="col-acoes"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>{{lancamento.pessoa}}</td>
      <td>{{lancamento.descricao}}</td>
      <td>{{lancamento.dataVencimento | date: 'dd/MM/yyyy'}}</td>
      <td>{{lancamento.dataPagamento  | date: 'dd/MM/yyyy'}}</td>
      <td class="col-valor"><span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{lancamento.valor | number: '1.2-2'}}</span></td>
      <td>
        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="width: 2em; margin-right: 3px;"></a>
        <button pButton icon="pi pi-trash"
          pTooltip="Excluir" tooltipPosition="top" style="width: 2em"
          (click)="confirmarExclusao(lancamento)"></button>
      </td>
  </tr>
 </ng-template>
</p-table>



