<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label>até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos">
        <ng-template pTemplate="header">
          <tr>
              <th>Pessoa</th>
              <th>Descrição</th>
              <th class="col-data">Vencimento</th>
              <th class="col-data">Pagamento</th>
              <th class="col-valor">Valor</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamento>
        <tr>
            <td>{{lancamento.pessoa}}</td>
            <td>{{lancamento.descricao}}</td>
            <td>{{lancamento.dataVencimento}}</td>
            <td>{{lancamento.dataPagamento}}</td>
            <td>{{lancamento.valor}}</td>
        </tr>
    </ng-template>
      </p-table>
    </div>
  </div>
</div>
