<div class="container">
  <form  #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos"
          [(ngModel)]="lancamento.tipo"
          #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          #vencimento="ngModel" required [inline]="false" [readonlyInput]="true" [showIcon]="false"
          [(ngModel)]="lancamento.dataVencimento"></p-calendar>
        <message [control]="vencimento" error="required" severity="error" text="Informe uma data de vencimento"></message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento"
        [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao"
          [(ngModel)]="lancamento.descricao"
          #descricao="ngModel" required minlength="5">
        <message [control]="descricao" error="required" severity="error" text="Informe uma descrição"></message>
        <message [control]="descricao" error="minlength" severity="error" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres."></message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="lancamento.valor"
          required>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown name="categorias" [options]="categorias" placeholder="Selecione" [autoWidth]="false"
          [(ngModel)]="lancamento.categoria.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" [autoWidth]="false" [filter]="true"
          [(ngModel)]="lancamento.pessoa.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea type="text" pInputTextarea rows="3" name="observacao"
        [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button label="Salvar" type="submit" pButton class="ui-button-success" style="margin-right: 3px;" [disabled]="f.invalid"></button>
        <button label="Novo" type="submit" pButton  class="ui-button-info" style="margin-right: 5px;"
          (click)="novo(f)"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
