<div class="container">
  <form>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="true" [showIcon]="false"></p-calendar>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input type="text" pInputText placeholder="0,00">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea type="text" pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button label="Salvar" type="submit" pButton class="ui-button-success" style="margin-right: 3px;"></button>
        <button label="Novo" type="submit" pButton  class="ui-button-success" style="margin-right: 5px;"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
