<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <pessoas-grid [pessoas]="pessoas"></pessoas-grid>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Nova Pessoa"></button>
    </div>
  </div>

</div>
